/*@import 'tailwindcss';*/

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', 'Noto Color Emoji';

  --font-mono: 'IBM Plex Mono', monospace;
}

.bg-img-car {
  background-image: url("../../public/assets/img/bg-img-car.png");
  background-repeat: no-repeat;
  background-position:right center;
  background-size: cover;
}

.lh-extra {
  line-height: 2.5;
  color: #cbcbcb;
}


.bg-dashboard {
  background-color: #F5F5F5;
}

.avatar-radius {
  border-radius: 50%;
  width: 90px;
  transform: translateY(-30px);
}

.label-dash{
  align-self: center;
  margin-bottom: 0 !important;
  color: black !important;
  /*font-weight: bold !important;*/
}

.form-novo {
  border: 1px solid lightgray !important;
  border-radius: 0.375rem !important;
  height: 35px !important;
  padding: 0 10px !important;
}

.form-row-custom {
  display: flex !important;
  align-items: center !important;
  gap: 10px !important;
  width: 100% !important;
}

.input-nome {
  flex: 3 !important;
}

.input-cpf {
  flex: 1 !important;
}

.input-email {
  flex: 2.5 !important;

}

.input-matricula {
  flex: 1.5 !important;
  max-width: 150px !important;
}

/** {*/
/*  outline: 2px solid red !important;*/
/*}*/
